$md: 768px;
$lg: 992px;

$white: #ffffff;
$white-shade: #f7f8fa;
$body-bg: #f6f7fa;

/* Theme */
$theme-primary: #9886ec;
$theme-accent: #ffbb44;

/* Text */
$text-primary: #333333;
$text-secondary: #666666;
$text-tertiary: #999999;

/* Filter */
$filter-bg: #ffffff;

/* Border */
$border: rgba(0, 0, 0, 0.1);
